#qunit-testrunner-toolbar, #qunit-filteredTest, #qunit-userAgent, #qunit-testresult, #qunit-tests li { font-size: medium; }
#qunit-tests { font-size: large; }

body {
	font-family:Meiryo, serif;
	font-size:14px;
}

ruby {
  display:inline-table;
  text-align:center;
  white-space:nowrap;
  text-indent:0;

	border: none;
	vertical-align: bottom; /* makes a diff */
}
ruby > rb {
	display:table-row;
	vertical-align:text-top;
}
ruby > rt, rtc {
	display:table-header-group;
}
rtc > rt {
	display:table-cell;
}
rt {
	font-size:0.6em;
  line-height:1.2em;
}
rp {
	display:none;
}