@font-face {
  font-family: "mplus";
	src: url(http://mplus-fonts.sourceforge.jp/webfonts/mplus-2m-regular.ttf) format("truetype");
}

body {
	font-family:Meiryo,MS Gothic,mplus;
	font-size:18px;
}

ruby {
	display:inline-table;
  text-align:center;
  white-space:nowrap;
  text-indent:0;
  table-baseline:0;
	ruby-align: top;

	border: none;
	vertical-align: bottom; /* makes a diff */
}
ruby > rb {
	display:table-row;
	vertical-align:text-top;
}
ruby > rt, rbc + rtc {
	display:table-header-group;
}
rbc > rb, rtc > rt {
	display:table-cell;
}
rt {
	font-size:0.6em;
  line-height:1.2em;
}
rp {
	display:none;
}
rt[rbspan] {
	table-column-span:attr(rbspan)
}