ruby {
	display:inline-table;
  text-align:center;
  white-space:nowrap;
  text-indent:0;
  table-baseline:0;
	ruby-align: top;

	border: none;
	vertical-align: bottom; /* makes a diff */
}
ruby > rb {
	display:table-row;
	vertical-align:text-top;
}
ruby > rt, rbc + rtc {
	display:table-header-group;
}
rbc > rb, rtc > rt {
	display:table-cell;
}
rt {
	font-size:0.5em;
  line-height:1.2em;
}
rp {
	display:none;
}
rt[rbspan] {
	table-column-span:attr(rbspan)
}